#pcnav {
    display: none;
}

.drawer--right {
    .drawer-hamburger {
        display: block;
        top: 15px;
        right: 18px;
    }
}

/*
#kv,
#kv #kv_copy>div#kv_bg>img {
    height: 50vh;
    min-height: auto;
}

#kv #kv_copy>div#kv_tl {
    top: 22vh;
}
*/