//#page * { background-color: rgba(0, 0, 0, .1) !important;}


/*********************
LINK STYLES
*********************/

a:link,
a:visited {
    &:hover,
    &:focus,
    &:active {
        opacity: 1 !important;
    }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    min-width: auto;
}

/*********************
CONTENT STYLES
*********************/



/*********************
FOOTER STYLES
*********************/
