$size__site-main: 100%;
$size__site-sidebar: 25%;

$header-height:    80px;
$header-height-sp:    56px;

$footer-height: 134px;

$site-width:    780px;
$contents-area:    780px;



$kv_top: 23.4vh;
$kv_base_wide: 1280;
$kv_base_height: 718;
$kv_base_multi: 100;