//$sans-serif: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", HiraKakuPro-W3, Osaka, arial, helvetica, sans-serif;
$sans-serif:  'Noto Sans JP', sans-serif;
//$sans-serif: 'M PLUS 1p', sans-serif;
//$sans-serif:  'メイリオ', 'Meiryo', sans-serif;

//$sans-serif: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

//$serif: 'Zen Old Mincho', serif;
//$serif: 'Noto Serif JP', serif;

$serif: "Yu Mincho", "YuMincho", serif;

$meiryo: 'メイリオ', 'Meiryo', sans-serif;


$font__main: $sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;